USE [Total_PayLate]
GO
/****** Object:  StoredProcedure [dbo].[sp_dataset_b_id_CL]    Script Date: 24.05.2023 13:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_dataset_b_id_CL] --exec [ml].[sp_dataset_b_id]
as
begin
	set nocount on

select * 
into #sampleeq
from 
(select 
       resp.[Comment]
      ,resp.[ClientId]
      ,resp.[Request_Id]
      ,resp.[appid]
      ,resp.[Timestamp]
      ,resp.[Total_accounts_ever]
      ,resp.[Total_active_accounts]
      ,resp.[Total_credit_limit_active]
      ,resp.[Total_outstanding_amount]
      ,resp.[Total_overdue_amount]
      ,resp.[Total_pay_amount]
      ,resp.[Total_pay_amount_non_card]
      ,resp.[Payment_cards]
      ,resp.[Total_bankruptcy]
      ,resp.[Total_letigation]
      ,resp.[current_120DPD_3K_flag]
      ,resp.[Nb_delays_5_30_ever]
      ,resp.[Nb_delays_30_60_ever]
      ,resp.[Nb_delays_60_90_ever]
      ,resp.[Nb_delays_90plus_ever]
      ,resp.[Nb_delays_5_30_2y]
      ,resp.[Nb_delays_30_60_2y]
      ,resp.[Nb_delays_60_90_2y]
      ,resp.[Nb_delays_90plus_2y]
      ,resp.[Max_overdue]
      ,resp.[RCC_credit_limit]
      ,resp.[RCC_overdue_amount]
      ,resp.[Nb_active_consumer_credit]
      ,resp.[Nb_active_rcc]
      ,resp.[Nb_active_mortgages]
      ,resp.[Nb_microcredits_ever]
      ,resp.[Oldest_account_date]
      ,resp.[Recent_account_date]
      ,resp.[CH_length]
      ,resp.[Nb_active_microcredits]
      ,resp.[S_hare_active_credit]
      ,resp.[S_hare_micro]
From (
select appid,min(id) id
From  [dbo].[Equifax_Response]
group by appid) eq
left join [dbo].[Equifax_Response] resp on (resp.id=eq.id) 
inner join dbo.client cl (nolock) on cl.id=resp.clientid and isnull(cl.nonresident,0)=1) bki_Equ 

select 
g.appid,
meg1.[ALLCLCValueId],  ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg1.[BLOCKCNTValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg1.[BLOCKDURValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg1.[INTEGRALSCOREValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg1.[LIFETIMEBINValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg1.[PAYMAXValueId]---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
into #meg_service
from (select max(id) id, appid
	 From [dbo].[Megafon_Responses]  
	 group by appid) g
left  join[dbo].[Megafon_Responses]  meg1 on (g.id=meg1.id)




select distinct 
ord.AppId,
app.clientid,
isnull( inp.client_type,0) client_type, -- новый\повторный

ord.dtstart, -- дата договора

ord.amountoriginal, --- сумма займа
app.CategoryGoodsId,---[dbo].[SPRAV_GoodsType]
app.InitialFee, -- первоначальный взнос
app.AmountPurchaseOriginal, --- стоимость товара

cl.sex,
cl.birthday,
cl.citizenshipid,

substring(cast (cl.[e-mail] as nvarchar(150) ), charindex('@',cast (cl.[e-mail] as nvarchar(150) )) +1, len(cast (cl.[e-mail] as nvarchar(150) ))) domen, 
substring(replace(((REPLACE(REPLACE(REPLACE ((REPLACE (cl.mobilephone,'+',' ')),'-',''),'(',''), ')', ''))),' ','') , 1,4) pref_mobile , 

cl.martialid,---[dbo].[SPRAV_MaritalStatus]
cl.dependents, -- иждевенцы
cl.educationid,---[dbo].[SPRAV_Education]
cl.typeemployerid,--[dbo].[SPRAV_typeEmployer]
cl.sigdoc, -- подписан\не подписан
cl.CustomerReg, 

cl.EmployeeId,---[dbo].[SPRAV_Employees]
cl.bankrupt, --- признак банкрота
org.nameto, --- Юр. лицо
org.sitename, -- название сайта организации откуда пришла заявка
org.idchannel, --- [dbo].[SPRAV_Channel]
case when sp.name is null then sp1.name else sp.name end nation,
case when ord.appid = 1341383 then 45 else isnull(pas.doctype,res.doctype) end  DOC,--- billing.[dbo].[SPRAV_DocType]

ad.monthlycreditpayment,--сумма платежей в других банках
ad.averagemonthlyincome, -- средний доход
ad.spouseincome, --- доп. доход
ad.othercredits, --- кол-во кредитнов в других банках[dbo].[SPRAV_OtherCredits]
cl_w.fullname, --- название орнанизации где работает 
cl_w.position, --должность 
cl_w.positionlevel, --[dbo].[SPRAV_Position]
cl_w.CompanyTypeId, --[dbo].[SPRAV_CompanyType]
cl_w.OccupationAreaId, --[dbo].[SPRAV_OccupationArea]
cl_w.EmploymentType,--[dbo].[SPRAV_EmploymentType]
st.creditperiod,--- срок кредита плановый
case when app.watcherid is null then 0 else 1 end verification,---- была ли верификация на заявке
--'Вызов НБКИ-->>' [Сервис 1],
bki_nbki.Timestamp,
bki_nbki.Total_accounts,
bki_nbki.Total_negative_accounts,
bki_nbki.Total_active_accounts,
bki_nbki.Total_credit_limit,
bki_nbki.Total_overdue_amount,
bki_nbki.Total_outstanding_amount,
bki_nbki.Total_installment_amount,
bki_nbki.Total_installment_amount_calc,
bki_nbki.Total_disputed,
bki_nbki.Total_letigation,
bki_nbki.Total_bankruptcy,
bki_nbki.Total_inquiries,
bki_nbki.Recent_inquiries,
bki_nbki.Recent_account_date,
bki_nbki.Oldest_account_date,
bki_nbki.CH_length,
bki_nbki.Nb_delays_5_30_ever,
bki_nbki.Nb_delays_30_60_ever,
bki_nbki.Nb_delays_60_90_ever,
bki_nbki.Nb_delays_90_ever,
bki_nbki.Nb_delays_5_30_2y,
bki_nbki.Nb_delays_30_60_2y,
bki_nbki.Nb_delays_60_90_2y,
bki_nbki.Nb_delays_90_2y,
bki_nbki.Days_since_last_credit,
bki_nbki.Own_active_accounts_nb,
bki_nbki.Max_overdue,
bki_nbki.RCC_credit_limit,
bki_nbki.RCC_overdue_amount,
bki_nbki.Nb_active_mortgages,
bki_nbki.Nb_active_microcredits,
bki_nbki.Total_mortgages,
bki_nbki.Total_microcredits,
bki_nbki.Nb_active_consumer_credit,
bki_nbki.Nb_active_rcc,
bki_nbki.Total_consumer_credit,
bki_nbki.Total_rcc,
bki_nbki.Is_FICO,
bki_nbki.Fico_score,
bki_nbki.Reg_region,
bki_nbki.Liv_region,
--bki_nbki.productScoreRetailPersonal,
--bki_nbki.uniqueIdRetailPersonal,
--bki_nbki.scoreIDRetailPersonal,
--bki_nbki.scoreRetailPersonal,
-- пригладываю файл с описанием переменных
--'Вызов Эквифакс-->>' [Сервис2],
 bki_Equ.[Comment]
,bki_Equ.[Timestamp] [Timestamp_eq]
      ,bki_Equ.[Total_accounts_ever]
      ,bki_Equ.[Total_active_accounts] [Total_active_accounts_eq]
      ,bki_Equ.[Total_credit_limit_active] [Total_credit_limit_active_eq]
      ,bki_Equ.[Total_outstanding_amount] [Total_outstanding_amount_eq]
      ,bki_Equ.[Total_overdue_amount] [Total_overdue_amount_eq]
      ,bki_Equ.[Total_pay_amount]
      ,bki_Equ.[Total_pay_amount_non_card]
      ,bki_Equ.[Payment_cards]
      ,bki_Equ.[Total_bankruptcy] [Total_bankruptcy_eq]
      ,bki_Equ.[Total_letigation] [Total_letigation_eq]
      ,bki_Equ.[current_120DPD_3K_flag]
      ,bki_Equ.[Nb_delays_5_30_ever] [Nb_delays_5_30_ever_eq]
      ,bki_Equ.[Nb_delays_30_60_ever] [Nb_delays_30_60_ever_eq]
      ,bki_Equ.[Nb_delays_60_90_ever] [Nb_delays_60_90_ever_eq]
      ,bki_Equ.[Nb_delays_90plus_ever] [Nb_delays_90plus_ever_eq]
      ,bki_Equ.[Nb_delays_5_30_2y] [Nb_delays_5_30_2y_eq]
      ,bki_Equ.[Nb_delays_30_60_2y] [Nb_delays_30_60_2y_eq]
      ,bki_Equ.[Nb_delays_60_90_2y] [Nb_delays_60_90_2y_eq]
      ,bki_Equ.[Nb_delays_90plus_2y] [Nb_delays_90plus_2y_eq]
      ,bki_Equ.[Max_overdue] [Max_overdue_eq]
      ,bki_Equ.[RCC_credit_limit] [RCC_credit_limit_eq]
      ,bki_Equ.[RCC_overdue_amount] [RCC_overdue_amount_eq]
      ,bki_Equ.[Nb_active_consumer_credit] [Nb_active_consumer_credit_eq]
      ,bki_Equ.[Nb_active_rcc] [Nb_active_rcc_eq]
      ,bki_Equ.[Nb_active_mortgages] [Nb_active_mortgages_eq]
      ,bki_Equ.[Nb_microcredits_ever]
      ,bki_Equ.[Oldest_account_date] [Oldest_account_date_eq]
      ,bki_Equ.[Recent_account_date] [Recent_account_date_eq]
      ,bki_Equ.[CH_length] [CH_length_eq]
      ,bki_Equ.[Nb_active_microcredits] [Nb_active_microcredits_eq]
      ,bki_Equ.[S_hare_active_credit]
       ,bki_Equ.[S_hare_micro],
-- пригладываю файл с описанием переменных


'Вызов Мегафон-->>' [Сервис3],
meg.[ALLCLCValueId],  ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg.[BLOCKCNTValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg.[BLOCKDURValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg.[INTEGRALSCOREValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg.[LIFETIMEBINValueId], ---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
meg.[PAYMAXValueId],---megafonscoring.[dbo].SPRAV_MegafonResponseVariables
'Таргеты-->>' [risk]
,[Loan amount]
,[30_2mob]
,[30_3mob]
,[60_6mob]
,[90_6mob]
,[90_12mob]
---, row_number () over (partition by app.clientid order by ord.dtstart ) ord
into #sampleV1
From
  (select appid,min(amountorder) amountorder
	from dbo.orders
---where appid=272706
	group by appid) a
inner join dbo.orders ord on (a.AppId=ord.AppId and a.amountorder=ord.AmountOrder and isnull(ord.Cancellation,0)=0  and convert(date,dtstart) >= '20190101')
inner join dbo.applications app (nolock) on (ord.appid=app.id )
inner join dbo.client cl (nolock) on (cl.id=app.clientid and isnull(cl.nonresident,0)=1)
inner join dbo.Organization org (nolock) on (org.id=app.organizationid)
left join dbo.PassportNonResidence pas  (nolock)  on (pas.clientid=app.ClientId)
left join dbo.ResidencePermit res   (nolock)  on (res.clientid=app.ClientId)
left join dbo.SpravNationType sp  (nolock)  on (sp.id=pas.nationtype)
left join dbo.SpravNationType sp1   (nolock)  on (sp1.id=res.nationtype)
left join [dbo].[Client_AdditionalInfo] as ad with(nolock) on (ad.ClientId=app.ClientId)
left join [dbo].[Client_work]  as cl_w  with(nolock) on (cl_w.ClientId=app.ClientId)
left join dbo.input_vector_data inp (nolock) on (inp.appid=app.id)
left join [dbo].[Input_vector_bki] bki_nbki (nolock) on (bki_nbki.appid=app.id)
left join #sampleeq bki_Equ (nolock)  on (bki_Equ.appid=app.id)
left join #meg_service meg (nolock) on (meg.appid=app.id)
left join dbo.vintage_risk_otchet_riskmetrics1 risk (nolock) on (risk.ordersid=ord.id)
left join [dbo].[decl_nonresident] nonr on (nonr.appid=app.Id ) --- таблица с ошибочно выданными контрактами(джоин на исключение)
left join dbo.[Stock] st           on (app.stockid=st.id)

where 
 nonr.appid is null 
 and (upper(concat (cl.ClientFIO, ' ', cl.ClientFIO1, ' ',cl.ClientFIO2) )) not like '%Тест%'

--and app.clientid in (659566)





select *
, row_number () over (partition by clientid order by dtstart ) ord

into #sampleV2
         From #sampleV1


update #sampleV2
set client_type=0
where ord=1

alter table #sampleV2 drop column ord

--select   *From #sampleV2 
--where client_type=0 

drop table [dbo].[dataset_b_id_CL]


select '2023_05_24_0' as ds_ver,a.*, agr.loan_due_amount - a.[Loan amount] as interest_amount
into [dbo].[dataset_b_id_CL]
from #sampleV2 as a
join [dbo].[TOTAL_AGREEMENT] as agr on agr.app_id = a.AppId
where client_type=0 

end



--exec [dbo].[sp_dataset_b_id_CL]

--select * from [dataset_b_id_CL]